server:
  port: 8085

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service-route
          uri: http://localhost:9001
          predicates:
            - Path=/user/**
          filters:
            - StripPrefix=1