server:
  port: 80
spring:
  cloud:
    gateway:
      routes:
        - id: user-service-route
          uri: http://user-service:9001 # Internal DNS name
          predicates:
            - Path=/user/**
          filters:
            - StripPrefix=1